.version.index /* version checker */
{
	color: #00001F;
	background-color: #5BF0D3;
}

.html
{
	background-color: #FFFFFF;
}

#page
{
	z-index: 1;
	width: 960px;
	min-height: 2576px;
	background-image: none;
	border-style: none;
	border-color: #000000;
	background-color: transparent;
	margin-left: auto;
	margin-right: auto;
}

#page_position_content
{
	margin-top: -239px;
	margin-bottom: -155px;
	width: 0.01px;
}

#u460
{
	z-index: 122;
	width: 64px;
	min-height: 68px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	margin-left: 469px;
	position: relative;
}

#ptop
{
	width: 0.01px;
	margin-left: 469px;
	margin-top: 35px;
}

#top
{
	position: relative;
	width: 22px;
	margin-right: -10000px;
}

#u244
{
	z-index: 99;
	width: 50px;
	min-height: 50px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	margin-top: 9px;
	left: 600px;
}

#pu131
{
	width: 0.01px;
	margin-left: -75px;
	margin-top: 81px;
}

#u131
{
	z-index: 126;
	width: 68px;
	min-height: 120px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
}

#u79
{
	z-index: 4;
	width: 386px;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	margin-top: 55px;
	left: 362px;
}

#u411
{
	z-index: 100;
	width: 142px;
	height: 122px;
	margin-left: 409px;
	margin-top: 4px;
	position: relative;
	background: transparent url("../images/button-up.jpg") no-repeat center center;
	background-size: contain;
}

#u411:hover
{
	width: 142px;
	height: 122px;
	min-height: 0px;
	margin: 4px 0px 0px 409px;
	background: transparent url("../images/button-up.jpg") no-repeat center center;
	background-size: contain;
}

#u411:active
{
	width: 142px;
	height: 122px;
	min-height: 0px;
	margin: 4px 0px 0px 409px;
	background: transparent url("../images/button-down.jpg") no-repeat center center;
	background-size: contain;
}

#pu129
{
	width: 0.01px;
	margin-left: -67px;
}

#u129
{
	z-index: 40;
	width: 1093px;
	min-height: 173px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
}

#u170
{
	z-index: 97;
	width: 40px;
	min-height: 40px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	margin-top: 31px;
	left: 67px;
}

#ppu99
{
	width: 0.01px;
	margin-left: -323px;
	margin-top: 716px;
}

#pu99
{
	width: 0.01px;
	padding-bottom: 0px;
	margin-right: -10000px;
}

#u99
{
	z-index: 8;
	width: 600px;
	background-color: #FF5954;
	padding-bottom: 1px;
	position: relative;
}

#u100-4
{
	z-index: 9;
	width: 375px;
	min-height: 41px;
	background-color: transparent;
	font-size: 38px;
	line-height: 46px;
	color: #FFFFFF;
	position: relative;
	margin-right: -10000px;
	margin-top: 19px;
	left: 6px;
}

#u120
{
	z-index: 38;
	width: 90px;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	left: 510px;
}

#u151
{
	z-index: 3;
	width: 228px;
	min-height: 143px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	margin-left: 372px;
	top: -1px;
	margin-bottom: -1px;
	position: relative;
}

#pu172
{
	width: 0.01px;
	padding-bottom: 0px;
	margin-right: -10000px;
	margin-top: 1px;
	margin-left: 600px;
}

#u172
{
	z-index: 98;
	width: 440px;
	min-height: 40px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	position: relative;
}

#u435
{
	z-index: 101;
	width: 528px;
	background-color: transparent;
	margin-left: 73px;
	margin-top: 23px;
	position: relative;
}

#u466
{
	z-index: 124;
	width: 55px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	margin-top: 2px;
	left: 1508px;
}

#u465
{
	z-index: 125;
	width: 51px;
	height: 53px;
	border-width: 2px;
	border-style: solid;
	border-color: #42410B;
	background-color: #BAC2C7;
	opacity: 0.29;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=28.999999999999996)";
	filter: alpha(opacity=28.999999999999996);
	border-radius: 35px;
	position: relative;
	margin-right: -10000px;
}

#u453-14
{
	z-index: 107;
	width: 518px;
	min-height: 115px;
	border-width: 2px;
	border-style: solid;
	border-color: #BAC2C7;
	background-color: transparent;
	border-radius: 69px;
	text-align: center;
	color: #7F7F7F;
	margin-left: 349px;
	margin-top: 9px;
	position: relative;
}

#pu441-4
{
	width: 0.01px;
	margin-left: 534px;
	margin-top: 3px;
}

#u441-4
{
	z-index: 103;
	width: 143px;
	min-height: 25px;
	border-width: 1px;
	border-style: solid;
	border-color: #BAC2C7;
	background-color: #FCFCFC;
	background-color: rgba(0,0,0,0.01);
	border-radius: 100px;
	padding: 8px;
	line-height: 22px;
	color: #606972;
	font-size: 18px;
	text-align: center;
	font-family: open-sans, sans-serif;
	font-weight: 300;
	position: relative;
	margin-right: -10000px;
	margin-top: 6px;
	-pie-background: rgba(0,0,0,0.01);
}

#u441-4:hover
{
	background-color: #F2F2F2;
	background-color: rgba(0,0,0,0.05);
	padding-top: 8px;
	padding-bottom: 8px;
	min-height: 25px;
	width: 143px;
	margin: 6px -10000px 0px 0px;
	-pie-background: rgba(0,0,0,0.05);
}

#u445
{
	z-index: 2;
	width: 150px;
	min-height: 54px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	left: 365px;
}

#u454
{
	z-index: 121;
	width: 500px;
	min-height: 60px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	margin-left: 360px;
	margin-top: 9px;
	position: relative;
}

#shit
{
	margin-left: 810px;
	top: -847px;
	margin-bottom: -18px;
	position: relative;
}

#pbuttonu117
{
	width: 0.01px;
	margin-left: -323px;
	margin-top: -765px;
}

#buttonu117
{
	z-index: 13;
	width: 124px;
	border-color: #787878;
	background-color: #CACACA;
	position: relative;
	margin-right: -10000px;
}

#buttonu117:hover
{
	background-color: #545454;
	width: 124px;
	min-height: 0px;
	margin: 0px -10000px 0px 0px;
}

#u119-4
{
	z-index: 14;
	width: 119px;
	min-height: 23px;
	background-color: transparent;
	color: #3C3C3C;
	text-align: left;
	letter-spacing: 1px;
	font-family: Verdana, Tahoma, Geneva, sans-serif;
	font-weight: bold;
	position: relative;
	margin-right: -10000px;
	margin-top: 14px;
}

#buttonu117:hover #u119-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 23px;
	width: 119px;
	margin: 14px -10000px 0px 0px;
}

#buttonu117:hover #u119-4 p
{
	color: #FFFFFF;
	visibility: inherit;
}

#buttonu145
{
	z-index: 33;
	width: 124px;
	border-color: #787878;
	background-color: #CACACA;
	position: relative;
	margin-right: -10000px;
	left: 124px;
}

#buttonu145:hover
{
	background-color: #545454;
	width: 124px;
	min-height: 0px;
	margin: 0px -10000px 0px 0px;
}

#u146-4
{
	z-index: 34;
	width: 119px;
	min-height: 23px;
	background-color: transparent;
	color: #3C3C3C;
	text-align: left;
	letter-spacing: 1px;
	font-family: Verdana, Tahoma, Geneva, sans-serif;
	font-weight: bold;
	position: relative;
	margin-right: -10000px;
	margin-top: 14px;
}

#buttonu117.ButtonSelected #u119-4,#buttonu145:hover #u146-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 23px;
	width: 119px;
	margin: 14px -10000px 0px 0px;
}

#buttonu145:hover #u146-4 p
{
	color: #FFFFFF;
	visibility: inherit;
}

#buttonu147
{
	z-index: 18;
	width: 124px;
	border-color: #787878;
	background-color: #CACACA;
	position: relative;
	margin-right: -10000px;
	left: 248px;
}

#buttonu147:hover
{
	background-color: #545454;
	width: 124px;
	min-height: 0px;
	margin: 0px -10000px 0px 0px;
}

#u148-4
{
	z-index: 19;
	width: 119px;
	min-height: 23px;
	background-color: transparent;
	color: #3C3C3C;
	text-align: left;
	letter-spacing: 1px;
	font-family: Verdana, Tahoma, Geneva, sans-serif;
	font-weight: bold;
	position: relative;
	margin-right: -10000px;
	margin-top: 14px;
}

#buttonu145.ButtonSelected #u146-4,#buttonu147:hover #u148-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 23px;
	width: 119px;
	margin: 14px -10000px 0px 0px;
}

#buttonu147:hover #u148-4 p
{
	color: #FFFFFF;
	visibility: inherit;
}

#pbuttonu174
{
	width: 0.01px;
	margin-left: -323px;
	margin-top: -727px;
}

#buttonu174
{
	z-index: 23;
	width: 124px;
	border-color: #787878;
	background-color: #CACACA;
	position: relative;
	margin-right: -10000px;
}

#buttonu174:hover
{
	background-color: #545454;
	width: 124px;
	min-height: 0px;
	margin: 0px -10000px 0px 0px;
}

#buttonu117.ButtonSelected,#buttonu145.ButtonSelected,#buttonu147.ButtonSelected,#buttonu174.ButtonSelected
{
	background-color: #CACACA;
	width: 124px;
	min-height: 0px;
	margin: 0px -10000px 0px 0px;
}

#u175-4
{
	z-index: 24;
	width: 119px;
	min-height: 23px;
	background-color: transparent;
	color: #3C3C3C;
	text-align: left;
	letter-spacing: 1px;
	font-family: Verdana, Tahoma, Geneva, sans-serif;
	font-weight: bold;
	position: relative;
	margin-right: -10000px;
	margin-top: 14px;
}

#buttonu147.ButtonSelected #u148-4,#buttonu174:hover #u175-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 23px;
	width: 119px;
	margin: 14px -10000px 0px 0px;
}

#buttonu174:hover #u175-4 p
{
	color: #FFFFFF;
	visibility: inherit;
}

#buttonu176
{
	z-index: 28;
	width: 248px;
	border-color: #787878;
	background-color: #CACACA;
	position: relative;
	margin-right: -10000px;
	left: 124px;
}

#buttonu176:hover
{
	background-color: #545454;
	width: 248px;
	min-height: 0px;
	margin: 0px -10000px 0px 0px;
}

#buttonu176.ButtonSelected
{
	background-color: #CACACA;
	width: 248px;
	min-height: 0px;
	margin: 0px -10000px 0px 0px;
}

#u177-4
{
	z-index: 29;
	width: 244px;
	min-height: 23px;
	background-color: transparent;
	color: #3C3C3C;
	text-align: left;
	letter-spacing: 1px;
	font-family: Verdana, Tahoma, Geneva, sans-serif;
	font-weight: bold;
	position: relative;
	margin-right: -10000px;
	margin-top: 14px;
}

#buttonu176:hover #u177-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 23px;
	width: 244px;
	margin: 14px -10000px 0px 0px;
}

#buttonu176.ButtonSelected #u177-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 23px;
	width: 244px;
	margin: 14px -10000px 0px 0px;
}

#buttonu176:hover #u177-4 p
{
	color: #FFFFFF;
	visibility: inherit;
}

#u233
{
	z-index: 41;
	width: 600px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	left: -323px;
	top: -635px;
	margin-bottom: -119px;
	position: relative;
}

#u186
{
	z-index: 47;
	width: 600px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
}

#u179
{
	z-index: 48;
	width: 600px;
	background-color: #FF9A42;
	padding-bottom: 1px;
	position: relative;
	margin-right: -10000px;
}

#u183-4
{
	z-index: 49;
	width: 375px;
	min-height: 41px;
	background-color: transparent;
	font-size: 38px;
	line-height: 46px;
	color: #FFFFFF;
	position: relative;
	margin-right: -10000px;
	margin-top: 19px;
	left: 6px;
}

#u180
{
	z-index: 53;
	width: 90px;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	left: 510px;
}

#buttonu184
{
	z-index: 42;
	width: 124px;
	border-color: #787878;
	background-color: #CACACA;
	position: relative;
	margin-right: -10000px;
	margin-top: 82px;
}

#buttonu184:hover
{
	background-color: #545454;
	width: 124px;
	min-height: 0px;
	margin: 82px -10000px 0px 0px;
}

#buttonu184.ButtonSelected
{
	background-color: #CACACA;
	width: 124px;
	min-height: 0px;
	margin: 82px -10000px 0px 0px;
}

#u185-4
{
	z-index: 43;
	width: 119px;
	min-height: 23px;
	background-color: transparent;
	color: #3C3C3C;
	text-align: left;
	letter-spacing: 1px;
	font-family: Verdana, Tahoma, Geneva, sans-serif;
	font-weight: bold;
	position: relative;
	margin-right: -10000px;
	margin-top: 14px;
}

#buttonu174.ButtonSelected #u175-4,#buttonu184:hover #u185-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 23px;
	width: 119px;
	margin: 14px -10000px 0px 0px;
}

#buttonu184:hover #u185-4 p
{
	color: #FFFFFF;
	visibility: inherit;
}

#u232
{
	z-index: 55;
	width: 600px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	left: -323px;
	top: -450px;
	margin-bottom: -120px;
	position: relative;
}

#u187
{
	z-index: 61;
	width: 600px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
}

#u188
{
	z-index: 62;
	width: 600px;
	background-color: #8CFF06;
	padding-bottom: 1px;
	position: relative;
	margin-right: -10000px;
}

#u189-4
{
	z-index: 63;
	width: 375px;
	min-height: 41px;
	background-color: transparent;
	font-size: 38px;
	line-height: 46px;
	color: #FFFFFF;
	position: relative;
	margin-right: -10000px;
	margin-top: 19px;
	left: 6px;
}

#u190
{
	z-index: 67;
	width: 90px;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	left: 510px;
}

#buttonu193
{
	z-index: 56;
	width: 124px;
	border-color: #787878;
	background-color: #CACACA;
	position: relative;
	margin-right: -10000px;
	margin-top: 83px;
}

#buttonu193:hover
{
	background-color: #545454;
	width: 124px;
	min-height: 0px;
	margin: 83px -10000px 0px 0px;
}

#u194-4
{
	z-index: 57;
	width: 119px;
	min-height: 23px;
	background-color: transparent;
	color: #3C3C3C;
	text-align: left;
	letter-spacing: 1px;
	font-family: Verdana, Tahoma, Geneva, sans-serif;
	font-weight: bold;
	position: relative;
	margin-right: -10000px;
	margin-top: 14px;
}

#buttonu184.ButtonSelected #u185-4,#buttonu193:hover #u194-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 23px;
	width: 119px;
	margin: 14px -10000px 0px 0px;
}

#buttonu193:hover #u194-4 p
{
	color: #FFFFFF;
	visibility: inherit;
}

#u231
{
	z-index: 69;
	width: 600px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	left: -323px;
	top: -265px;
	margin-bottom: -120px;
	position: relative;
}

#u195
{
	z-index: 75;
	width: 600px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
}

#u198
{
	z-index: 76;
	width: 600px;
	background-color: #91CEFF;
	padding-bottom: 1px;
	position: relative;
	margin-right: -10000px;
}

#u199-4
{
	z-index: 77;
	width: 375px;
	min-height: 41px;
	background-color: transparent;
	font-size: 38px;
	line-height: 46px;
	color: #FFFFFF;
	position: relative;
	margin-right: -10000px;
	margin-top: 19px;
	left: 6px;
}

#u196
{
	z-index: 81;
	width: 90px;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	left: 510px;
}

#buttonu201
{
	z-index: 70;
	width: 124px;
	border-color: #787878;
	background-color: #CACACA;
	position: relative;
	margin-right: -10000px;
	margin-top: 83px;
}

#buttonu201:hover
{
	background-color: #545454;
	width: 124px;
	min-height: 0px;
	margin: 83px -10000px 0px 0px;
}

#u202-4
{
	z-index: 71;
	width: 119px;
	min-height: 23px;
	background-color: transparent;
	color: #3C3C3C;
	text-align: left;
	letter-spacing: 1px;
	font-family: Verdana, Tahoma, Geneva, sans-serif;
	font-weight: bold;
	position: relative;
	margin-right: -10000px;
	margin-top: 14px;
}

#buttonu193.ButtonSelected #u194-4,#buttonu201:hover #u202-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 23px;
	width: 119px;
	margin: 14px -10000px 0px 0px;
}

#buttonu201:hover #u202-4 p
{
	color: #FFFFFF;
	visibility: inherit;
}

#u235
{
	z-index: 83;
	width: 600px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	left: -323px;
	top: -80px;
	margin-bottom: -80px;
	position: relative;
}

#u236
{
	z-index: 89;
	width: 600px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
}

#u237
{
	z-index: 90;
	width: 600px;
	background-color: #964EFF;
	padding-bottom: 1px;
	position: relative;
	margin-right: -10000px;
}

#u238-4
{
	z-index: 91;
	width: 375px;
	min-height: 41px;
	background-color: transparent;
	font-size: 38px;
	line-height: 46px;
	color: #FFFFFF;
	position: relative;
	margin-right: -10000px;
	margin-top: 19px;
	left: 6px;
}

#u239
{
	z-index: 95;
	width: 90px;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	left: 510px;
}

#buttonu241
{
	z-index: 84;
	width: 124px;
	border-color: #787878;
	background-color: #CACACA;
	position: relative;
	margin-right: -10000px;
	margin-top: 83px;
}

#buttonu241:hover
{
	background-color: #545454;
	width: 124px;
	min-height: 0px;
	margin: 83px -10000px 0px 0px;
}

#buttonu193.ButtonSelected,#buttonu201.ButtonSelected,#buttonu241.ButtonSelected
{
	background-color: #CACACA;
	width: 124px;
	min-height: 0px;
	margin: 83px -10000px 0px 0px;
}

#u242-4
{
	z-index: 85;
	width: 119px;
	min-height: 23px;
	background-color: transparent;
	color: #3C3C3C;
	text-align: left;
	letter-spacing: 1px;
	font-family: Verdana, Tahoma, Geneva, sans-serif;
	font-weight: bold;
	position: relative;
	margin-right: -10000px;
	margin-top: 14px;
}

#buttonu201.ButtonSelected #u202-4,#buttonu241:hover #u242-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 23px;
	width: 119px;
	margin: 14px -10000px 0px 0px;
}

#buttonu241.ButtonSelected #u242-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 23px;
	width: 119px;
	margin: 14px -10000px 0px 0px;
}

#buttonu241:hover #u242-4 p
{
	color: #FFFFFF;
	visibility: inherit;
}

#buttonu117.ButtonSelected #u119-4 p,#buttonu145.ButtonSelected #u146-4 p,#buttonu147.ButtonSelected #u148-4 p,#buttonu174.ButtonSelected #u175-4 p,#buttonu176.ButtonSelected #u177-4 p,#buttonu184.ButtonSelected #u185-4 p,#buttonu193.ButtonSelected #u194-4 p,#buttonu201.ButtonSelected #u202-4 p,#buttonu241.ButtonSelected #u242-4 p
{
	color: #3C3C3C;
	visibility: inherit;
}

#u95
{
	z-index: 7;
	width: 35px;
	min-height: 35px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	margin-left: 1112px;
	margin-top: 282px;
	position: relative;
}

body
{
	position: relative;
	min-width: 960px;
	padding-top: 36px;
	padding-bottom: 36px;
}

#page .verticalspacer
{
	clear: both;
}

