.version.index /* version checker */
{
	color: #000017;
	background-color: #E488DA;
}

.html
{
	background-color: #FFFFFF;
}

#page
{
	z-index: 1;
	width: 960px;
	min-height: 2575.9999999999973px;
	background-image: none;
	border-style: none;
	border-color: #000000;
	background-color: transparent;
	padding-bottom: 0px;
	margin-left: auto;
	margin-right: auto;
}

#page_position_content
{
	margin-top: -36px;
	margin-bottom: -155px;
	width: 0.01px;
}

#pu131
{
	width: 0.01px;
	margin-left: -75px;
}

#u131
{
	z-index: 109;
	width: 68px;
	min-height: 120px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	margin-top: 142px;
}

#u79
{
	z-index: 3;
	width: 386px;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	left: 362px;
}

#u244
{
	z-index: 108;
	width: 50px;
	min-height: 50px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	margin-top: 11px;
	left: 1144px;
}

#u85-4
{
	z-index: 5;
	width: 171px;
	min-height: 42px;
	background-color: transparent;
	line-height: 43px;
	font-size: 36px;
	text-align: center;
	font-family: Verdana, Tahoma, Geneva, sans-serif;
	font-weight: normal;
	margin-left: 395px;
	position: relative;
}

#u97
{
	z-index: 11;
	width: 171px;
	height: 39px;
	background-color: #5BFFA9;
	border-radius: 33px;
	margin-left: 395px;
	margin-top: 6px;
	position: relative;
}

#u97:hover
{
	background-color: #FFFFA9;
	width: 171px;
	height: 39px;
	min-height: 0px;
	margin: 6px 0px 0px 395px;
}

#u97:active
{
	background-color: #100030;
	width: 171px;
	height: 39px;
	min-height: 0px;
	margin: 6px 0px 0px 395px;
}

#u135-4
{
	z-index: 45;
	width: 140px;
	min-height: 45px;
	background-color: transparent;
	margin-left: 410px;
	margin-top: 6px;
	position: relative;
}

#pu129
{
	width: 0.01px;
	margin-left: -67px;
	margin-top: 58px;
}

#u129
{
	z-index: 44;
	width: 1093px;
	min-height: 173px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
}

#u170
{
	z-index: 106;
	width: 40px;
	min-height: 40px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	margin-top: 158px;
	left: 67px;
}

#u136
{
	z-index: 105;
	width: 500px;
	min-height: 105px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	margin-left: 230px;
	margin-top: 15px;
	position: relative;
}

#pu99
{
	width: 0.01px;
	margin-left: -323px;
	margin-top: 697px;
}

#u99
{
	z-index: 12;
	width: 600px;
	background-color: #FF5954;
	padding-bottom: 1px;
	position: relative;
	margin-right: -10000px;
}

#u100-4
{
	z-index: 13;
	width: 375px;
	min-height: 41px;
	background-color: transparent;
	font-size: 38px;
	line-height: 46px;
	color: #FFFFFF;
	position: relative;
	margin-right: -10000px;
	margin-top: 19px;
	left: 6px;
}

#u120
{
	z-index: 42;
	width: 90px;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	left: 510px;
}

#u172
{
	z-index: 107;
	width: 440px;
	min-height: 40px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	margin-top: 1px;
	left: 600px;
}

#u151
{
	z-index: 2;
	width: 228px;
	min-height: 143px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	margin-left: 49px;
	top: -1px;
	margin-bottom: -1px;
	position: relative;
}

#shit
{
	margin-left: 810px;
	top: -225px;
	margin-bottom: -18px;
	position: relative;
}

#pbuttonu117
{
	width: 0.01px;
	margin-left: -323px;
	margin-top: -143px;
}

#buttonu117
{
	z-index: 17;
	width: 124px;
	border-color: #787878;
	background-color: #CACACA;
	position: relative;
	margin-right: -10000px;
}

#buttonu117:hover
{
	background-color: #545454;
	width: 124px;
	min-height: 0px;
	margin: 0px -10000px 0px 0px;
}

#u119-4
{
	z-index: 18;
	width: 119px;
	min-height: 23px;
	background-color: transparent;
	color: #3C3C3C;
	text-align: left;
	letter-spacing: 1px;
	font-family: Verdana, Tahoma, Geneva, sans-serif;
	font-weight: bold;
	position: relative;
	margin-right: -10000px;
	margin-top: 14px;
}

#buttonu117:hover #u119-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 23px;
	width: 119px;
	margin: 14px -10000px 0px 0px;
}

#buttonu117:hover #u119-4 p
{
	color: #FFFFFF;
	visibility: inherit;
}

#buttonu145
{
	z-index: 37;
	width: 124px;
	border-color: #787878;
	background-color: #CACACA;
	position: relative;
	margin-right: -10000px;
	left: 124px;
}

#buttonu145:hover
{
	background-color: #545454;
	width: 124px;
	min-height: 0px;
	margin: 0px -10000px 0px 0px;
}

#u146-4
{
	z-index: 38;
	width: 119px;
	min-height: 23px;
	background-color: transparent;
	color: #3C3C3C;
	text-align: left;
	letter-spacing: 1px;
	font-family: Verdana, Tahoma, Geneva, sans-serif;
	font-weight: bold;
	position: relative;
	margin-right: -10000px;
	margin-top: 14px;
}

#buttonu117.ButtonSelected #u119-4,#buttonu145:hover #u146-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 23px;
	width: 119px;
	margin: 14px -10000px 0px 0px;
}

#buttonu145:hover #u146-4 p
{
	color: #FFFFFF;
	visibility: inherit;
}

#buttonu147
{
	z-index: 22;
	width: 124px;
	border-color: #787878;
	background-color: #CACACA;
	position: relative;
	margin-right: -10000px;
	left: 248px;
}

#buttonu147:hover
{
	background-color: #545454;
	width: 124px;
	min-height: 0px;
	margin: 0px -10000px 0px 0px;
}

#u148-4
{
	z-index: 23;
	width: 119px;
	min-height: 23px;
	background-color: transparent;
	color: #3C3C3C;
	text-align: left;
	letter-spacing: 1px;
	font-family: Verdana, Tahoma, Geneva, sans-serif;
	font-weight: bold;
	position: relative;
	margin-right: -10000px;
	margin-top: 14px;
}

#buttonu145.ButtonSelected #u146-4,#buttonu147:hover #u148-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 23px;
	width: 119px;
	margin: 14px -10000px 0px 0px;
}

#buttonu147:hover #u148-4 p
{
	color: #FFFFFF;
	visibility: inherit;
}

#pbuttonu174
{
	width: 0.01px;
	margin-left: -323px;
	margin-top: -105px;
}

#buttonu174
{
	z-index: 27;
	width: 124px;
	border-color: #787878;
	background-color: #CACACA;
	position: relative;
	margin-right: -10000px;
}

#buttonu174:hover
{
	background-color: #545454;
	width: 124px;
	min-height: 0px;
	margin: 0px -10000px 0px 0px;
}

#buttonu117.ButtonSelected,#buttonu145.ButtonSelected,#buttonu147.ButtonSelected,#buttonu174.ButtonSelected
{
	background-color: #CACACA;
	width: 124px;
	min-height: 0px;
	margin: 0px -10000px 0px 0px;
}

#u175-4
{
	z-index: 28;
	width: 119px;
	min-height: 23px;
	background-color: transparent;
	color: #3C3C3C;
	text-align: left;
	letter-spacing: 1px;
	font-family: Verdana, Tahoma, Geneva, sans-serif;
	font-weight: bold;
	position: relative;
	margin-right: -10000px;
	margin-top: 14px;
}

#buttonu147.ButtonSelected #u148-4,#buttonu174:hover #u175-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 23px;
	width: 119px;
	margin: 14px -10000px 0px 0px;
}

#buttonu174:hover #u175-4 p
{
	color: #FFFFFF;
	visibility: inherit;
}

#buttonu176
{
	z-index: 32;
	width: 248px;
	border-color: #787878;
	background-color: #CACACA;
	position: relative;
	margin-right: -10000px;
	left: 124px;
}

#buttonu176:hover
{
	background-color: #545454;
	width: 248px;
	min-height: 0px;
	margin: 0px -10000px 0px 0px;
}

#buttonu176.ButtonSelected
{
	background-color: #CACACA;
	width: 248px;
	min-height: 0px;
	margin: 0px -10000px 0px 0px;
}

#u177-4
{
	z-index: 33;
	width: 244px;
	min-height: 23px;
	background-color: transparent;
	color: #3C3C3C;
	text-align: left;
	letter-spacing: 1px;
	font-family: Verdana, Tahoma, Geneva, sans-serif;
	font-weight: bold;
	position: relative;
	margin-right: -10000px;
	margin-top: 14px;
}

#buttonu176:hover #u177-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 23px;
	width: 244px;
	margin: 14px -10000px 0px 0px;
}

#buttonu176.ButtonSelected #u177-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 23px;
	width: 244px;
	margin: 14px -10000px 0px 0px;
}

#buttonu176:hover #u177-4 p
{
	color: #FFFFFF;
	visibility: inherit;
}

#u233
{
	z-index: 49;
	width: 600px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	left: -323px;
	top: -13px;
	margin-bottom: -13px;
	position: relative;
}

#u186
{
	z-index: 55;
	width: 600px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
}

#u179
{
	z-index: 56;
	width: 600px;
	background-color: #FF9A42;
	padding-bottom: 1px;
	position: relative;
	margin-right: -10000px;
}

#u183-4
{
	z-index: 57;
	width: 375px;
	min-height: 41px;
	background-color: transparent;
	font-size: 38px;
	line-height: 46px;
	color: #FFFFFF;
	position: relative;
	margin-right: -10000px;
	margin-top: 19px;
	left: 6px;
}

#u180
{
	z-index: 61;
	width: 90px;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	left: 510px;
}

#buttonu184
{
	z-index: 50;
	width: 124px;
	border-color: #787878;
	background-color: #CACACA;
	position: relative;
	margin-right: -10000px;
	margin-top: 82px;
}

#buttonu184:hover
{
	background-color: #545454;
	width: 124px;
	min-height: 0px;
	margin: 82px -10000px 0px 0px;
}

#buttonu184.ButtonSelected
{
	background-color: #CACACA;
	width: 124px;
	min-height: 0px;
	margin: 82px -10000px 0px 0px;
}

#u185-4
{
	z-index: 51;
	width: 119px;
	min-height: 23px;
	background-color: transparent;
	color: #3C3C3C;
	text-align: left;
	letter-spacing: 1px;
	font-family: Verdana, Tahoma, Geneva, sans-serif;
	font-weight: bold;
	position: relative;
	margin-right: -10000px;
	margin-top: 14px;
}

#buttonu174.ButtonSelected #u175-4,#buttonu184:hover #u185-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 23px;
	width: 119px;
	margin: 14px -10000px 0px 0px;
}

#buttonu184:hover #u185-4 p
{
	color: #FFFFFF;
	visibility: inherit;
}

#u232
{
	z-index: 63;
	width: 600px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	left: -323px;
	margin-top: 66px;
	position: relative;
}

#u187
{
	z-index: 69;
	width: 600px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
}

#u188
{
	z-index: 70;
	width: 600px;
	background-color: #8CFF06;
	padding-bottom: 1px;
	position: relative;
	margin-right: -10000px;
}

#u189-4
{
	z-index: 71;
	width: 375px;
	min-height: 41px;
	background-color: transparent;
	font-size: 38px;
	line-height: 46px;
	color: #FFFFFF;
	position: relative;
	margin-right: -10000px;
	margin-top: 19px;
	left: 6px;
}

#u190
{
	z-index: 75;
	width: 90px;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	left: 510px;
}

#buttonu193
{
	z-index: 64;
	width: 124px;
	border-color: #787878;
	background-color: #CACACA;
	position: relative;
	margin-right: -10000px;
	margin-top: 83px;
}

#buttonu193:hover
{
	background-color: #545454;
	width: 124px;
	min-height: 0px;
	margin: 83px -10000px 0px 0px;
}

#u194-4
{
	z-index: 65;
	width: 119px;
	min-height: 23px;
	background-color: transparent;
	color: #3C3C3C;
	text-align: left;
	letter-spacing: 1px;
	font-family: Verdana, Tahoma, Geneva, sans-serif;
	font-weight: bold;
	position: relative;
	margin-right: -10000px;
	margin-top: 14px;
}

#buttonu184.ButtonSelected #u185-4,#buttonu193:hover #u194-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 23px;
	width: 119px;
	margin: 14px -10000px 0px 0px;
}

#buttonu193:hover #u194-4 p
{
	color: #FFFFFF;
	visibility: inherit;
}

#u231
{
	z-index: 77;
	width: 600px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	left: -323px;
	margin-top: 65px;
	position: relative;
}

#u195
{
	z-index: 83;
	width: 600px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
}

#u198
{
	z-index: 84;
	width: 600px;
	background-color: #91CEFF;
	padding-bottom: 1px;
	position: relative;
	margin-right: -10000px;
}

#u199-4
{
	z-index: 85;
	width: 375px;
	min-height: 41px;
	background-color: transparent;
	font-size: 38px;
	line-height: 46px;
	color: #FFFFFF;
	position: relative;
	margin-right: -10000px;
	margin-top: 19px;
	left: 6px;
}

#u196
{
	z-index: 89;
	width: 90px;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	left: 510px;
}

#buttonu201
{
	z-index: 78;
	width: 124px;
	border-color: #787878;
	background-color: #CACACA;
	position: relative;
	margin-right: -10000px;
	margin-top: 83px;
}

#buttonu201:hover
{
	background-color: #545454;
	width: 124px;
	min-height: 0px;
	margin: 83px -10000px 0px 0px;
}

#u202-4
{
	z-index: 79;
	width: 119px;
	min-height: 23px;
	background-color: transparent;
	color: #3C3C3C;
	text-align: left;
	letter-spacing: 1px;
	font-family: Verdana, Tahoma, Geneva, sans-serif;
	font-weight: bold;
	position: relative;
	margin-right: -10000px;
	margin-top: 14px;
}

#buttonu193.ButtonSelected #u194-4,#buttonu201:hover #u202-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 23px;
	width: 119px;
	margin: 14px -10000px 0px 0px;
}

#buttonu201:hover #u202-4 p
{
	color: #FFFFFF;
	visibility: inherit;
}

#u235
{
	z-index: 91;
	width: 600px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	left: -323px;
	margin-top: 65px;
	position: relative;
}

#u236
{
	z-index: 97;
	width: 600px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
}

#u237
{
	z-index: 98;
	width: 600px;
	background-color: #964EFF;
	padding-bottom: 1px;
	position: relative;
	margin-right: -10000px;
}

#u238-4
{
	z-index: 99;
	width: 375px;
	min-height: 41px;
	background-color: transparent;
	font-size: 38px;
	line-height: 46px;
	color: #FFFFFF;
	position: relative;
	margin-right: -10000px;
	margin-top: 19px;
	left: 6px;
}

#u239
{
	z-index: 103;
	width: 90px;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	left: 510px;
}

#buttonu241
{
	z-index: 92;
	width: 124px;
	border-color: #787878;
	background-color: #CACACA;
	position: relative;
	margin-right: -10000px;
	margin-top: 83px;
}

#buttonu241:hover
{
	background-color: #545454;
	width: 124px;
	min-height: 0px;
	margin: 83px -10000px 0px 0px;
}

#buttonu193.ButtonSelected,#buttonu201.ButtonSelected,#buttonu241.ButtonSelected
{
	background-color: #CACACA;
	width: 124px;
	min-height: 0px;
	margin: 83px -10000px 0px 0px;
}

#u242-4
{
	z-index: 93;
	width: 119px;
	min-height: 23px;
	background-color: transparent;
	color: #3C3C3C;
	text-align: left;
	letter-spacing: 1px;
	font-family: Verdana, Tahoma, Geneva, sans-serif;
	font-weight: bold;
	position: relative;
	margin-right: -10000px;
	margin-top: 14px;
}

#buttonu201.ButtonSelected #u202-4,#buttonu241:hover #u242-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 23px;
	width: 119px;
	margin: 14px -10000px 0px 0px;
}

#buttonu241.ButtonSelected #u242-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 23px;
	width: 119px;
	margin: 14px -10000px 0px 0px;
}

#buttonu241:hover #u242-4 p
{
	color: #FFFFFF;
	visibility: inherit;
}

#buttonu117.ButtonSelected #u119-4 p,#buttonu145.ButtonSelected #u146-4 p,#buttonu147.ButtonSelected #u148-4 p,#buttonu174.ButtonSelected #u175-4 p,#buttonu176.ButtonSelected #u177-4 p,#buttonu184.ButtonSelected #u185-4 p,#buttonu193.ButtonSelected #u194-4 p,#buttonu201.ButtonSelected #u202-4 p,#buttonu241.ButtonSelected #u242-4 p
{
	color: #3C3C3C;
	visibility: inherit;
}

#u95
{
	z-index: 10;
	width: 35px;
	min-height: 35px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	margin-left: 1112px;
	margin-top: 282px;
	position: relative;
}

body
{
	position: relative;
	min-width: 960px;
	padding-top: 36px;
	padding-bottom: 36px;
}

#page .verticalspacer
{
	clear: both;
}

