@mixin rainbow(){
  background: repeating-linear-gradient(-45deg,red 0%, yellow 7.14%, rgb(0,255,0) 14.28%, rgb(0,255,255) 21.42%, cyan 28.56%, blue 35.7%, magenta 42.84%, red 50%);
	background-size:600vw 600vw;
	-webkit-animation:'slide' 10s infinite linear forwards;
}
@keyframes slide{
  0%{
    background-position-x: 0%;
  }
  100%{
    background-position-x: 600vw;
  }
}

body{
  font-family: 'filson-soft';
  margin: 0;
  overflow:hidden;
  
    color: white;
  h2, h1{
    margin: 0;
    position:relative;
    top: 50%;
    text-align: center;
    width: 100vw;
    transform:translateY(-50%);
  }
}
.section1{
  @include rainbow;
}
.title{
  top: 30%;
  margin-bottom: 10vh;
  font-size: 5vw;
}
.title2{
  top: 30%;
  font-size: 8vw;
  line-height: 8vw;
}
.navbar{
  position:relative;
  top: calc(50% - 50px);
  @include rainbow;
  height: 100px;
  line-height: 100px;
  padding-left: 50px;
  font-size: calc(12px + 3vw);
  img{
    height: 50px;
    width: 50px;
    position: absolute;
    right: 25px;
    top: 25px;
  }
}
.clip{
  font-size: 15vw;
  @include rainbow;
  -webkit-text-fill-color: transparent;
  -webkit-background-clip: text;
}
.button{
  border-radius: 10px;
  width: 40vw;
  height: 15vw;
  font-size: 3vw;
  vertical-align: center;
  text-align: center;
  position: relative;
  top: 50%;
  left: 50%;
  transform: translate(-50%,-50%);
  background-color: red;
  display:table;
  &:hover{
    @include rainbow;
    animation-duration: 3.5s;
  }
  span{
    font-weight: 500;
    display: table-cell;
    vertical-align: middle;
    text-align: center;
  }
}
[class^="conclude"]{
  top: 35%;
  color: black;
  margin-bottom: 10vh;
}
.conclude1{
  font-size: 3vw;
}
.scroll{
  cursor: pointer;
  width: 6vw;
  height: 6vw;
  position:absolute;
  bottom: 0;
  z-index: 100;
  background-image:url("https://s3-us-west-2.amazonaws.com/s.cdpn.io/551157/menu-drop.svg");
  left: 50%;
  transform:translate(-50%,-50%);
}