.scroll
#fullpage
  .section.section1
    h2.title Some Uses For
    h1.title2 Rainbow Gradient Animations
  .section.section2
    nav.navbar Navigation Bars
      img.hamburger(src="https://s3-us-west-2.amazonaws.com/s.cdpn.io/551157/hamgurger.svg")
  .section.section3
    h1.clip Text Clips
  .section.section4
    .button 
      span Hover Animations
  .section.section5
    h2.conclude1 Now go forth and make the web
    h1.conclude2.clip Fabulous
  